:root {
    --teal: #008080;
    --dark-blue: #2f4454;
    --silverblack: #303133;
    --yellowcolor: #faaf42;
    --displaymessagecolor: #ff726f;
}

html * {
    font-family: 'Roboto', sans-serif;
}

.content {
    max-width: 1500px;
    margin: auto;
    padding: 10px;
    padding-top: 30px;
}


/* welcome page */

.welcome-img {
    height: 500px;
    width: 500px;
}

.welcome-text {
    font-size: 20px;
}


/* nav bar sytles for mobile and desktop */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

ul.topnav li a:visited {
    background-color: var(--grape);
    text-decoration: underline;
}

ul.topnav li a:hover {
    color: orange;
    text-decoration: underline;
}

ul.topnav li.right {
    float: right;
}

.logo {
    font-weight: bold;
}


/* mobile navigation styling */

.mobile-nav {
    display: none;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 270px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: medium;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.openbtn {
    font-size: medium;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    background: transparent;
}

.openbtn:hover {
    background-color: #444;
}


/* footer design */

footer {
    padding: 10px;
    height: 10vh;
    color: gray;
    font-size: 12px;
}

a {
    text-decoration: none;
}


/* styling for the login form */

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 20px;
    background-color: orange;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.form-inline button:hover {
    background-color: royalblue;
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }
    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}


/* the lanugage page styling  */

.language-page {}